Listen <ApachePort>

<IfModule ssl_module>
        Listen <ApacheHTTPSport>
</IfModule>

<IfModule mod_gnutls.c>
        Listen <ApacheHTTPSport>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
